node_modules
.vscode
.idea
.env
config.json

# generated multisrc .ts files
plugins/*/*\[*\]*.ts

# ignore dist stuffs
.js
.dist
.DS_Store
dist
total.svg
src/plugins/index.ts
.history
broken-sites-report.json