blockquote, q {
  padding: 5px 10px;
  background-color: var(--theme-surfaceVariant);
  color: var(--theme-onSurfaceVariant);
  border-left: 4px solid var(--theme-outline);
  quotes: none;
}

span.modern-footnotes-footnote__note {
  display: none;
  font-size: 80%;
  margin: 1em;
  padding: 1em;
  background: var(--theme-surfaceVariant);
  color: var(--theme-onSurfaceVariant);
}

span.modern-footnotes-footnote__note.active {
  display: block;
} 