:root {
  --main-bg: #181a1b;
  --highlight-bg: #1c1f20;
  --btn-secondary-color: #212526;
  --text-color: #b6b0a6;
  --light-text-color: #e8e6e3;
  --dark-border-color: #3c4144;
  --hr-color: #323739;
}
.darkmode {
  color-scheme: dark;
  background-color: var(--main-bg);
}
.darkmode select,
.darkmode input {
  background-color: var(--main-bg);
  color: var(--text-color);
  border-color: var(--dark-border-color);
}
.darkmode .navbar {
  background-color: var(--main-bg);
  color: white;
}
.darkmode .navbar label {
  color: var(--text-color);
  background-color: var(--main-bg);
  border-color: var(--dark-border-color);
}
.darkmode .navbar form > input {
  background-color: var(--main-bg);
  color: var(--text-color);
  border-color: var(--dark-border-color);
}
.darkmode button.btn-secondary {
  background-color: var(--btn-secondary-color);
}
.darkmode button.btn-secondary:focus {
  box-shadow: none;
}
.darkmode #search-results {
  background-color: var(--main-bg);
  color: var(--text-color);
}
.darkmode .chapter-item .info-item,
.darkmode .chapter-item .info-value,
.darkmode .chapter-item .info-item .btn,
.darkmode .chapter-item .info-item samp {
  color: var(--light-text-color);
}
.darkmode .chapter-item samp {
  background-color: var(--main-bg);
}
.darkmode .novel-item .info-item,
.darkmode .novel-item .info-value,
.darkmode .novel-item .info-item .btn,
.darkmode .novel-item .info-item samp {
  color: var(--light-text-color);
}
.darkmode .novel-item samp {
  background-color: var(--main-bg);
}
.darkmode .form-control {
  color: #b6b0a6;
  background-color: var(--main-bg);
  border-color: var(--dark-border-color);
}
.darkmode .test-wrapper {
  background-color: var(--highlight-bg);
  color: var(--text-color);
}
.darkmode .test-wrapper input[type="text"] {
  background-color: var(--main-bg);
  border-color: var(--dark-border-color);
}
.darkmode .modal-content {
  background-color: var(--main-bg);
}
.darkmode .modal-content .close {
  color: var(--text-color);
  text-shadow: var(--main-bg) 0px 1px 0px;
}
.darkmode .modal-content .modal-header {
  border-bottom: 2px solid var(--hr-color);
}
.darkmode .modal-content .modal-footer {
  border-top: 2px solid var(--hr-color);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.navbar {
  width: 100vw;
  align-items: center;
  padding-inline: 3%;
  gap: auto;
  justify-content: space-between;
}
.navbar label.input-group-text {
  height: 100%;
}
.navbar button.btn-secondary {
  padding-inline: 5px;
}
#search-results {
  position: absolute;
  top: calc(100% - 0.5rem);
  width: fit-content;
  max-height: 500%;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 0.375rem 0;
  border-radius: 5px;
  background-color: white;
  z-index: 3;
}
#turnoff-catch {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}
.input-group {
  width: 20rem;
}
.checkbox-groupbox {
  border: 1px solid #b6b0a6;
  padding: 5px;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(3, auto);
  justify-content: center;
}
.xcheckbox-groupbox {
  border: 1px solid #b6b0a6;
  padding: 5px;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(3, auto);
  justify-content: center;
}
.xcheckbox {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  /* Hide the browser's default checkbox */
}
.xcheckbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.xcheckbox span {
  position: absolute;
  top: 6px;
  left: 5px;
  height: 20px;
  width: 20px;
  background-color: #eee;
  border: 1px solid white;
}
.xcheckbox span::after {
  content: "";
  position: absolute;
  display: none;
}
.xcheckbox[data-state="i"] span {
  background-color: #2196f3;
}
.xcheckbox[data-state="i"] span::after {
  left: 6px;
  top: 3px;
  width: 6px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.xcheckbox[data-state="i"]:hover span {
  background-color: #56a3ff;
}
.xcheckbox[dara-state="x"] span {
  background-color: #f32196;
  position: absolute;
  height: 20px;
  width: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: red;
}
.xcheckbox[dara-state="x"] span::after,
.xcheckbox[dara-state="x"] span::before {
  position: absolute;
  content: "";
  width: 80%;
  left: 10%;
  height: 2px;
  background-color: white;
}
.xcheckbox[dara-state="x"] span::before {
  transform: rotate(45deg);
}
.xcheckbox[dara-state="x"] span::after {
  transform: rotate(-45deg);
}
.xcheckbox[dara-state="x"]:hover span {
  background-color: #ff56a3;
}
.xcheckbox[dara-state="x"]:hover input ~ span {
  background-color: #ccc;
}
.xcheckbox input:checked ~ span::after {
  display: block;
}
.modal-body {
  padding: 16px 50px 0 50px;
}
.checkbox-groupbox input {
  margin-right: 5px;
}
.SwitchFilter {
  display: flex;
  justify-content: center;
}
.SwitchFilter input {
  margin-left: 10px;
}
.PickerFilter select {
  text-align: center;
}
.filter-label {
  display: block;
  text-align: center;
  font-weight: bold;
}
#filtersModal .modal-body div {
  display: grid;
  align-content: center;
}
#filtersModal hr {
  margin-bottom: 10px;
  margin-top: 10px;
  /* visibility: hidden; */
}
#settingsModal .modal-body > div {
  display: grid;
  align-content: center;
}
#settingsModal input {
  text-align: center;
}
#settingsModal textarea {
  display: block;
  width: 100%;
  margin-inline: auto;
}
#test-container {
  align-items: center;
  height: max-content;
  margin-bottom: 100px;
}
.test-wrapper {
  margin: 1rem;
  padding: 0.5rem;
  background-color: aliceblue;
}
#popularNovels,
#searchNovels,
#parseNovelAndChapters,
#parseChapter,
#fetchImage {
  min-width: 95%;
  max-width: 95%;
  margin-inline: auto;
}
#popularNovels,
#searchNovels {
  height: 350px;
  overflow-y: hidden;
  overflow-x: scroll;
}
.novel_info {
  display: grid;
  grid-auto-flow: row;
  grid-auto-rows: min-content;
}
.parse-novel-btn {
  width: 85%;
  margin-inline: auto;
  margin-top: 5px;
}
#parseNovelAndChapters {
  height: 380px;
}
.title {
  font-weight: bold;
}
@keyframes spinner-border {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.spinner-border {
  display: none;
  width: 1rem;
  height: 1rem;
  vertical-align: text-bottom;
  border: 0.25em solid currentColor;
  border-right-color: transparent;
  border-radius: 50%;
  -webkit-animation: spinner-border 0.75s linear infinite;
  animation: spinner-border 0.75s linear infinite;
}
.novel-list {
  display: flex;
  margin-top: 0.5rem;
  height: 300px;
  width: 100%;
}
.novel-item {
  display: flex;
  padding: 0.5rem;
}
.novel-item img {
  max-height: 90%;
}
.novel-info {
  width: 16rem;
}
.info-item {
  display: grid;
  grid-auto-columns: min-content auto 50px;
  margin-top: 5px;
  grid-auto-flow: column;
}
.info-item div {
  display: grid;
  align-items: center;
}
.info-value {
  width: 10rem;
  padding-inline: 0.25rem;
  font-size: 0.65rem;
  word-wrap: break-word;
}
.info-copy {
  display: grid;
  align-content: center;
}
.btn {
  font-size: 0.75rem;
  padding: 0.25rem 0.25rem;
}
.btn.disabled,
.btn:disabled {
  opacity: 1;
}
.chapter-list-container {
  max-height: 95%;
  overflow-y: scroll;
}
.chapter-list {
  column-count: 2;
}
.chapter-item {
  display: grid;
  grid-template-areas: "name btn1 btn2" "date btn1 btn2";
}
.ci-topleft {
  grid-area: name;
}
.ci-bottomleft {
  grid-area: date;
}
.ci-btn1 {
  grid-area: btn1;
}
.ci-btn2 {
  grid-area: btn2;
}
.select-option-text {
  padding-left: 1rem;
}
/* Slider checkbox */
.slider-checkbox {
  --ball-width: 15px;
  --box-margin: 5px;
  --box-width: calc(2 * var(--ball-width) + var(--box-margin));
}
.slider-checkbox input {
  display: none;
}
.slider-checkbox label {
  height: fit-content;
  width: fit-content;
}
.slider-checkbox label span {
  position: relative;
  left: calc(var(--box-margin) + var(--box-width));
  user-select: none;
}
.slider-checkbox label span::after {
  transition: 0.2s ease-out;
  position: absolute;
  content: "";
  top: calc((100% - var(--ball-width)) / 2);
  width: var(--ball-width);
  height: var(--ball-width);
  left: calc(-1 * (var(--box-width) + var(--box-margin)) + 2px);
  border-radius: 50%;
  display: inline-block;
  background-color: #003cff;
}
.slider-checkbox label span::before {
  position: absolute;
  top: 0;
  left: calc(-1 * var(--box-width) - var(--box-margin));
  content: "";
  width: var(--box-width);
  height: 100%;
  border-radius: 10px;
  background-color: red;
  display: inline-block;
}
.slider-checkbox label input:checked ~ span::after {
  left: calc(-1 * (var(--box-margin) + var(--ball-width) + 3px));
  background-color: #003cff;
}
.slider-checkbox label input:checked ~ span::before {
  background-color: #00ff00;
}
iframe {
  margin: 0 auto;
  border: 1px solid black;
  background-color: white;
  display: block;
  overflow: scroll;
}
#preview-toggler {
  display: flex;
  flex-direction: row;
  gap: 50px;
}
#theme-picker {
  display: grid;
  grid-template-columns: repeat(5, auto);
  gap: 10px;
  justify-content: center;
}
#theme-picker .theme {
  width: 50px;
  height: 50px;
  padding: 5px;
  word-wrap: break-word;
  word-break: break-all;
  border-radius: 50%;
  border: 1px solid gray;
  transition-duration: 0.2s;
  display: grid;
  text-align: center;
  justify-content: center;
  align-content: center;
}
#theme-picker .theme:hover {
  border: 1px solid blue;
  cursor: pointer;
  transform: translateY(-5px);
}
#size-input select {
  padding: 5px;
}
#size-input > div:first-child {
  margin-bottom: 5px;
}
