.navbar{
    width: 1080px;
    align-items: center;
    padding-left: 5%;
    justify-content: space-between;
}

.input-group{
    width: 20rem;
}

#search-results{
    position: absolute;
    top: calc(100% - 0.5rem);
    width: 15rem;
    padding: 0.375rem 0;
    border-radius: 5px;
    background-color: white;
    z-index: 3;
}

.btn.disabled, .btn:disabled{
    opacity: 1;
}

#test-container{
    align-items: center;
    height: max-content;
    margin-bottom: 100px;
}


.test-wrapper{
    margin: 1rem;
    padding: 0.5rem;
    background-color: aliceblue;
}

#popularNovels, #searchNovels{
    height: 350px;
    min-width: 95%;
    max-width: 95%;
    overflow-y: hidden;
    overflow-x: scroll;
}

#parseNovelAndChapters{
    height: 380px;
    min-width: 95%;
    max-width: 95%;
}

.title{
    font-weight: bold;
}

.spinner-border {
    display: none;
    width: 1rem;
    height: 1rem;
    vertical-align: text-bottom;
    border: 0.25em solid currentColor;
    border-right-color: transparent;
    border-radius: 50%;
    -webkit-animation: spinner-border .75s linear infinite;
    animation: spinner-border .75s linear infinite;
}

@keyframes spinner-border{
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.novel-list{
    display: flex;
    margin-top: 0.5rem;
    height: 300px;
    width: 100%;
}

.novel-item{
    display: flex;
    padding: 0.5rem;
}

.novel-item img {
    max-height: 90%;
}

.novel-info{
    width: 16rem;
}

.info-item{
    display: flex;
    margin-top: 5px;
}

.info-value{
    width: 10rem;
    padding-left: 0.25rem;
    font-size: 0.65rem;
    word-wrap:break-word;
}

.btn{
    font-size: 0.75rem;
    padding: 0.25rem 0.25rem;
}

.chapter-list{
    position: relative;
    display: grid;
    min-width: 50%;
    overflow-y: scroll;
    overflow-x: scroll;
    grid-template-columns: 15rem 15rem 15rem 15rem;
    grid-gap: 0, 0;
}
