/**
 * Novel Updates -> Daoist Quest
 * https://www.novelupdates.com/group/daoist-quest/
 * Necessary to display chapterContent correctly
 */
.litrpg-box {
    color: #fff;
    font-weight: 400;
    text-align: center;
    margin: 15px auto;
    max-width: fit-content;
}
.litrpg-frame {
    border: solid #00219b;
    box-shadow: 0 0 10px 1px #00219b;
    border-radius: 5px;
    background-color: #000000;
}
.litrpg-body {
    display: flex;
    flex-direction: column;
    gap: 1.125em;
    padding: .875rem 0;
    margin: 0 .875rem;
    overflow: auto;
}
.litrpg-body ul {
    text-align: left;
}

/**
 * Novel Updates -> FictionRead
 * https://www.novelupdates.com/group/fictionread/
 * Necessary to display chapterContent correctly
 */
.letter-style {
    min-width: 230px;
    max-width: fit-content;
    margin: 15px auto;
    box-shadow: 0 0 10px 1px #5e636e;
    border-radius: 5px;
    font-family: 'Oswald', sans-serif;
    background-color: #000000;
    padding: 10px 30px 10px 30px;
}
.system {
    background: linear-gradient(33deg, #334455 0%, #223344 100%);
    border: 1px solid #aabbcc;
    color: #fff;
    font-family: Rajdhani,serif;
    font-weight: 500;
    margin: 0 auto;
    padding: 1rem;
    width: fit-content;
}

/**
 * Novel Updates -> Genesis Translations
 * https://www.novelupdates.com/group/genesis-translations/
 * Necessary to display chapterContent correctly
 */
.game-prompt-gold-info {
    min-width: 230px;
    padding: 20px;
    box-sizing: content-box;
    width: fit-content;
    margin: 15px auto;
    border: solid #e0cc00;
    box-shadow: 0 0 10px 1px #e0cc00;
    border-radius: 5px;
    font-family: 'Oswald', sans-serif;
    background-color: #000000;
}
.game-prompt-gold-info-title {
    color: #fff;
    font-weight: bold;
    text-shadow: -1px 5px 13px #e0cc00, -1px 0px 10px #544d00;
    border-bottom: 3px solid #fff;
    padding-bottom: 5px;
}
.game-prompt-gold-info-content {
    text-shadow: -1px 5px 13px #e0cc00, -1px 0px 10px #e0cc00;
    color: #fff;
    padding-top: 10px;
}
.game-prompt-info {
    min-width: 230px;
    padding: 20px;
    box-sizing: content-box;
    width: fit-content;
    margin: 15px auto;
    border: solid #00219b;
    box-shadow: 0 0 10px 1px #00219b;
    border-radius: 5px;
    font-family: 'Oswald', sans-serif;
    background-color: #000000;
}
.game-prompt-info-title {
    color: #fff;
    font-weight: bold;
    text-shadow: -1px 5px 13px #004fff, -1px 0px 10px #002775;
    border-bottom: 3px solid #fff;
    padding-bottom: 5px;
}
.game-prompt-info-content {
    text-shadow: -1px 5px 13px #004fff, -1px 0px 10px #002775;
    color: #fff;
    padding-top: 10px;
}
.game-prompt-info-small {
    min-width: 230px;
    max-width: fit-content;
    padding: 10px 30px 10px 30px;
    margin: 15px auto;
    border: solid #00219b;
    box-shadow: 0 0 10px 1px #00219b;
    border-radius: 5px;
    font-family: 'Oswald', sans-serif;
    background-color: #000000;
}
.game-prompt-info-small-content {
    text-shadow: -1px 5px 13px #004fff, -1px 0px 10px #002775;
    color: #fff;
}
.game-prompt-silver-info {
    min-width: 230px;
    padding: 20px;
    box-sizing: content-box;
    width: fit-content;
    margin: 15px auto;
    border: solid #c2c2c2;
    box-shadow: 0 0 10px 1px #737373;
    border-radius: 5px;
    font-family: 'Oswald', sans-serif;
    background-color: #000000;
}
.game-prompt-silver-info-content {
    text-shadow: -1px 5px 13px #b4b4b4, -1px 0px 10px #737373;
    color: #fff;
    padding-top: 10px;
}
.game-prompt-warning {
    min-width: 230px;
    padding: 20px;
    box-sizing: content-box;
    width: fit-content;
    margin: 15px auto;
    border: solid #750b00e3;
    box-shadow: 0 0 20px 3px #750b0070;
    border-radius: 5px;
    font-family: 'Oswald', sans-serif;
    background-color: #000000;
}
.game-prompt-warning-title {
    color: #ff4348;
    font-weight: bold;
    text-shadow: -1px 5px 13px #ff230c, -1px 0px 10px #750b00;
    border-bottom: 3px solid #fff;
    padding-bottom: 5px;
}
.game-prompt-warning-content {
    text-shadow: -1px 5px 13px #ff230c, -1px 0px 10px #750b00;
    color: #fff;
    padding-top: 10px;
}
.ta-center {
    text-align: center;
}

/**
 * Novel Updates -> Raei Translations
 * https://www.novelupdates.com/group/raei-translations/
 * Necessary to display chapterContent correctly
 */
.status {
    --color-special: #ff751a;
    --color-special-light: #ffa970;
    border-left: ridge 4px var(--color-special);
    padding: 1em;
    color: var(--color-special-light);
    box-shadow: -5px 0 4px -5px var(--color-special);
    margin-top: 2em;
    margin-bottom: 2em;
    white-space: pre-wrap;
    word-wrap: break-word;
}

/**
 * Novel Updates -> Sky Demon Order
 * https://www.novelupdates.com/group/sky-demon-order/
 * Necessary to display chapterContent correctly
 */
.novel-system-box {
    --colors-novel-system-box-bg-1: 0 2 20;
    --colors-novel-system-box-bg-2: 34 40 93;
    --colors-novel-system-box-border: 137 149 199;
    --colors-novel-system-box-shadow: 9 23 134;
    background: linear-gradient(180deg,rgb(var(--colors-novel-system-box-bg-1)) 35%,rgb(var(--colors-novel-system-box-bg-2)) 214%);
    border: 1px solid rgb(var(--colors-novel-system-box-border));
    color: #fff;
    font-family: Rajdhani,serif;
    font-weight: 500;
    margin: 0 auto;
    padding: 1rem;
    text-shadow: 1px 1px 2px rgb(var(--colors-novel-system-box-shadow)),0 0 1em rgb(var(--colors-novel-system-box-shadow)),0 0 .2em rgb(var(--colors-novel-system-box-shadow));
    width: fit-content;
}
.text-center {
    text-align: center !important;
}
