name: Prettier

on:
  pull_request:
    branches: [master]

jobs:
  Prettier:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Use Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '18'

      - name: Install Dependencies
        run: npm ci

      - name: Prettier
        run: npx prettier --check "./src/**/*.{ts,tsx,js,css}"
